.avatar {
  width: 2.625rem;
  display: inline-flex;
  height: 2.625rem;
  border-radius: 2.625rem;
  background-color: #730bff;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
}

.l {
  width: 3.5rem;
  height: 3.5rem;
  font-size: 2rem;
  border-radius: 3.5rem;
}


.s {
  width: 1.75rem;
  height: 1.75rem;
  font-size: 1rem;
  border-radius: 1.75rem;
}