:host {
  display: block;
  --table-background-color: white;
  --table-head-background: #f3f3f3;
  --table-cell-padding: 0.5rem;
}

* {
  box-sizing: border-box;
}

table {
  border: var(--alta-border);
  overflow: hidden;
  border-spacing: 0;
  border-radius: var(--alta-border-radius);
  background-color: var(--table-background-color);
  width: 100%;
  table-layout: fixed;
}

thead {
  background-color: var(--table-head-background);
}

th,
td {
  text-align: left;
  padding: var(--table-cell-padding);
  border-right: var(--alta-border);
  border-bottom: var(--alta-border);
}

th:last-child,
td:last-child {
  border-right: none;
}

tr:last-child td {
  border-bottom: none;
}

th {
  text-transform: uppercase;
}

th div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

td {
  font-size: 1rem;
  color: #666666;
}

.pointer {
  cursor: pointer;
}


/* icons */
.gg-arrows-exchange {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 16px;
  height: 14px
 }

 .gg-arrows-exchange::after,
 .gg-arrows-exchange::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  height: 2px;
  background: currentColor;
  border-radius: 4px
 }

 .gg-arrows-exchange::before {
  width: 6px;
  transform: rotate(45deg);
  box-shadow: 2px -13px 0;
  top: 10px
 }

 .gg-arrows-exchange::after {
  width: 12px;
  box-shadow: -4px 4px 0;
  left: 4px;
  top: 4px
 }


/* up */
 .gg-chevron-up {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px
 }

 .gg-chevron-up::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(-45deg);
  left: 4px;
  bottom: 2px
 }

 /* down */
 .gg-chevron-down {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px
 }

 .gg-chevron-down::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  left: 4px;
  top: 2px
 }
